{% extends 'navegador.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}{{ parent() }} - Nuevo proyecto{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Panel de administración </h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/dashboard" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Crear proyecto</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-3 ">
                    <p>Bienvenido a la página de crear los proyectos, podrá crear un nuevo proyecto a través del siguiente formulario
                        rellenando los campos correspondientes. La sede del proyecto será en la que usted es administrador.</p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-3 ">

                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-6 ">
                    <div class="card">
                        <div class="card-body">
                            <h3 style="padding-left: 42%;">Nuevo proyecto</h3><br>
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-3 ">

                </div>

            </div>
        </div>
    </div>

{% endblock %}